<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.VIB.TestVIB_Link</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestVIBBankLink</td>
<td>LinkBank </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestVIBSimulatorLinkOTPTimeOut</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestVIBSimulatorLinkOTP</td>
<td>LinkOTPSimulator </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestVIBSimulatorLink</td>
<td>LinkSimulator </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
