<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>LinkOTPSimulator</td><td>TestVIB_Link.TestVIBSimulatorLinkOTP(java.lang.String, java.lang.String)[pri:0, instance:TestVIB_Link@511baa65]<br/></td></tr>
</table>
