<h2>Methods that were not run</h2><table>
<tr><td>testCases.VIB.TestVIB_Link.TestVIBBankLink</td></tr>
<tr><td>testCases.VIB.TestVIB_Link.TestVIBSimulatorLinkOTPTimeOut</td></tr>
<tr><td>testCases.VIB.TestVIB_Link.TestVIBSimulatorLink</td></tr>
</table>